<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout.html}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/index.css">
<!-- Agregar el enlace al archivo CSS de Bootstrap -->
<link rel="stylesheet" href="/css/bootstrap.min.css">

<!-- Agregar el enlace al archivo JavaScript de Bootstrap (opcional) -->
<script src="/js/bootstrap.min.js"></script>

</head>
<body >
	<section layout:fragment="content">
    <p>This is a paragraph from the content page</p>
  </section>
</body>
</html>